$primary-color: #0098A7;
$secondary-color: #C0E6E8;

$footer-color: #0098A7;

// custom
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(128, 128, 128);
$lightgray: rgb(195, 195, 195);
$darkgray: rgb(75, 75, 75);
$offwhite: rgb(245, 245, 245);
$offblack: rgb(35,35,35);